#accordion-panel dt {
  cursor: pointer;
  margin-bottom: 1px;
}

#accordion-panel dd .inner {
  background-color: #dfe1e1;
  border: 1px solid #ccc;
  margin: 3px 0;
  text-align: center;
}

#accordion-panel dd {
  display: none;
  margin: 0 auto;
}

.wrapper{
  margin: 10px auto;
  max-width: 944px;
}

.layer-1 dt {
  background-color: #444444;
  padding: 5px 0;
  font-size: 1.25em;
  text-align: center;
  color: #dfe1e1;
}

.layer-2 dt {
  background-color: #949494;
  padding: 5px 0;
  font-size: 1.0em;
  text-align: center;
  color: #161616;
}

.layer-3 dt {
  background-color: #a9aeb1;
  margin-bottom: 1px;
  padding: 5px 0;
  font-size: 0.8em;
  text-align: center;
  color: #161616;
}

.title_img{
  text-align: center;
}

h1{
  color: #dfe1e1;
  text-align: center;
}

body{
  background-color: #161616;
  margin: 0 0;
  font-family: serif;
}

img{
  width: 100%;
  max-width: 944px;
  margin-top: 10px;
}
